In [1]:
import numpy as np
import pandas as pd

In [18]:
import sys
sys.path.insert(0,'C:/Users/vujovisn/Documents/dev/concentration_library')

import concentration_library as cl

In [19]:
data_set = pd.read_csv('../data/users_dataset.csv')
data_set.head()

   id firstName   lastName  age     btc relationship  gender     income
0   1     Bucky    Roberts   30  4.8501       single    male  170360.87
1   2      Lisa  Gallagher   11  3.2479       single  female   57971.61
2   3      Emma   Williams   47  2.7959   not single  female  200805.93
3   4      Tony    Masters   45  0.0625   not single    male    5045.13
4   5      Mike      Smith   15  1.3822       single    male   26459.47

In [20]:
income = data_set.income.values

In [23]:
gini = cl.gini(income)

In [26]:
atkinson = cl.atkinson(income,0.5)

In [31]:
theil = cl.theil(income)

In [37]:
print("Gini:", gini)
print("Atkinson:", atkinson)
print("Theil:", theil)

Gini: 0.44451073081
Atkinson: 0.170146049026
Theil: 0.324566254001